body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#promptForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 300px;
    margin-bottom: 20px; 
}

#userPrompt, button {
    margin-bottom: 10px; 
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#savedPrompt {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

#apiResponse {
    max-width: 90%;
    margin: 20px auto; /* Added some margin to the top */
    padding: 10px;
    /* Removed box-shadow and border from the default state */
    display: none; /* Hide the div by default */
    /* Rest of your styles */
}


/* Hide apiResponse div when printing */
@media print {
    #apiResponse {
        display: none;
    }
}

#loading {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    /* You can add more styles as per your design */
}
